.input,
.password {
  :global {
    .MuiOutlinedInput-notchedOutline {
      border-top: 0;
      border-left: 0;
      border-right: 0;
    }

    .MuiOutlinedInput-root {
      border-radius: 0;
    }
  }
}

.password {
  :global {
    // .MuiOutlinedInput-notchedOutline {
    //   border: 0;
    // }
  }
}

.error {
  :global {
    .MuiInputBase-input {
      color: red;
    }
  }
}

.button {
  color: white !important;
  margin: 100px auto !important;
  width: 60% !important;
  border-radius: 100px !important;
  text-transform: none !important;
  display: block !important;
}

.SigUpbutton {
  color: #00e0a1 !important;
  margin: 100px auto !important;
  width: 60% !important;
  border-radius: 100px !important;
  text-transform: none !important;
  display: block !important;
  border-color: #00e0a1 !important;
}